
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='faq.css') }}">
    <link rel="shortcut icon" href="/static/img/foro.png">
    <title>Foro Canario - Preguntas Frecuentes</title>
</head>

<body bgcolor=#ffffff>
    <center>
        <br><br>
        <table width=500 cellpadding=0>
            <tr><td bgcolor=#fffae8>
                <a href="/"><img src="/static/img/foro.png" border=0 width=200 height=100 class="center"></a>
                <br><br>
                <b>Foro Canario - Preguntas Frecuentes</b>
                <br><br>
                    <b>Cómo se clasifican las noticias?</b>
                        <p>
                        El algoritmo principal puntúa las palabras de cada artículo según 
                        su importancia. La puntuación total un artículo se consigue sumando
                        la puntuación de sus palabras.
                        <p>
                    <b>Cómo se puntúa cada palabra?</b>
                        <p>
                        La puntuación de una palabra en un documento se consigue valorando:
                        <p>       
                        &nbsp&nbsp&nbsp- Su frequencia en un documento. Nos indica la importancia
                        de la palabra en ese documento 
                        <p> 
                        &nbsp&nbsp&nbsp- El número de documentos que la contienen. Si la palabra
                        aparece en muchos documentos, reduce su puntuación en ese documento.
                        <p>        
                        Más información en <a href='https://es.wikipedia.org/wiki/Tf-idf'>https://es.wikipedia.org/wiki/Tf-idf</a>
                        <p> 
                    <b>Que periódicos/blogs están incluídos?</b>
                        <p> 
                        <a href='https://www.canarias7.es/'>Canarias 7</a><br>
                        <a href='https://www.laprovincia.es/'>La Provincia</a><br>
                        <a href='https://www.eldia.es/'>El Día</a><br>
                        <a href='https://www.noticanarias.com/'>Noti Canarias</a><br>
                        <a href='http://www.canarias24horas.com/'>Canarias 24 Horas</a><br>
                        <a href='http://tribunadecanarias.es/'>Tribuna de Canarias</a><br>
                        <a href='https://canariasnoticias.es/'>Canarias Noticias</a><br>
                        <p> 
                    <b>Como puedo añadir otro periódico o blog?</b>
                        <p> 
                        Para añadir nuevas fuentes a nuestro análisis y clasificación 
                        contáctanos <a href="mailto:xxxx">aquí</a>
                        <p> 
                    <b>Cuándo se actualiza el tablón de noticias?</b>
                        <p>
                        Cada hora se añaden nuevos artículos a la clasificación.
                        <p> 
                    <b>Qué noticias se añaden al tablón?</b>
                        <p> 
                        Analizamos <b>todas</b> las noticias que publican los medios
                        canarios.
                        <p> 
                        Se muestran las noticias con mayor puntuación de las últimas
                        24 horas.
                        <p>
                    <b>Cuántos artículos han analizado?</b>
                        <p>
                        Nuestro corpus de documentos analizados contiene +2000 
                        artículos de prensa canaria
                        <p> 
                    <b>Dónde puedo contactarles?</b>
                        <p>
                        Si tienes en mente alguna mejora,idea, consejo, sugerencia o crítica no dudes 
                        en compartirla con nosotros en nuestro email
                        <a href="mailto:xxxx">hello@foodtobento.com</a>
                        
                        <p><p>
                    
                <!--
                     
                    porque hay noticias repetidas?
                    porque no puedo comentar en las noticias?
                    cuantas articulso han analizado
                -->
                <br>
                <p align=center>
                    <a class='atras' align=center href="/">Volver a inicio</a>
            <br><br><br>
        <table width=100% bgcolor=fcdb58 cellpadding=0><tr><td></td></tr></table>
            <p align=center>
                <span class=foot>
                        <br><br>
                </span>
            </td></tr>
        </table>
    </center>
</body>
